@charset "UTF-8";
.tabla{
	border:1px solid black;
	border-collapse: collapse;
	
}    

caption{
	border-collapse: collapse;
border:1px solid black;
font-size: 4rem;
background-color: rgb(128, 128, 255);
}   
.celda{
	border-collapse:solid black;
	font-size: 2rem;
}

th{
	font-size: 2rem;
	
}
td{
	font-size: 1rem;
	border: solid black;
}
.footer{
	display:grid;
}